<html>
<head>
    <title>Chat</title>
</head>
<body>
    <div id="chat-container">
        {{#each messages}}
            <div class="message">
                <strong>{{this.user}}</strong>: {{this.message}}
            </div>
        {{/each}}
    </div>
    <form id="message-form" action="/sendMessage" method="POST">
        <input type="text" name="message" placeholder="Escribe tu mensaje">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
