<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form action="/session/login" method="POST">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Iniciar Sesión</button>
    </form>
    <hr>
    <form action="/session/github" method="GET"> <!-- Formulario para iniciar sesión con GitHub -->
        <button type="submit">Iniciar sesión con GitHub</button>
    </form>
</body>
</html>
