<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
</head>
<body>
  <h1>Bienvenido, {{user.firstName}}</h1>
  <p>Email: {{user.email}}</p>

  <h2>Acciones</h2>
  <ul>
    <li><a href="/products">Ver Productos</a></li> 
    <li><a href="/cart">Ver Carrito</a></li> 
</body>
</html>
